@import "tailwindcss";

:root {
  --color-primary: #0062FF;
  --color-bg: #F7F8FA;
  --color-text: #1A1A1A;
  --color-text-secondary: #4B5563;
  --color-text-muted: #9CA3AF;
  --color-success: #10B981;
  --color-accent: #8B5CF6;
  --color-overlay: #0F172A;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
